{% extends 'kilogram/base.html' %}
{% block content %}

{% if user.is_active %}
<h2> Welcome, {{user.username}} </h2>
<a href="{% url 'logout' %}">Logout</a>

{% else %}
{% if form.errors %}
<p>ID/PW doesn't match.</p>
{% endif %}

<form method="post" action="{% url 'login' %}">
    {% csrf_token %}
    <input type="hidden" name="next" value="" />
    {{ form.as_p }}
    <button type="submit">Login</button>
</form>

{% endif %}
<br>
<p>Don't have an account? <a href="{% url 'signup' %}">SignUp</a></p>
{% endblock %}